@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden;}

a {text-decoration: none; color: inherit;}


/* menu */

.menu {
    background-color: green;
    width: 15%;
    height: 1080px;
}

.menu .logo {
    position: relative;
    left: 20%;
    top: 50px;
}
.menu .icon {
    position: relative;
    display: inline-block;
    left: 20%;
    top: 70px;
}
.menu .icon img {
    padding: 15px 30px;
}
.menu ul {
    
}

